<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/mvc
				 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
				http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<beans:import resource="root-context.xml" />
	<context:component-scan base-package="com.wxc.quick.controller" />

	<mvc:resources location="/resources/" mapping="/resources/**" />
	<mvc:resources location="/upload/" mapping="/upload/**" />

	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager" />

	<beans:bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<beans:property name="favorPathExtension" value="false" />
		<beans:property name="favorParameter" value="false" />
		<!-- 表示不开启Acceptheader来解决json返回406的错误 -->
		<beans:property name="ignoreAcceptHeader" value="false" />
		<beans:property name="mediaTypes">
			<beans:value>
				atom=application/atom+xml
				html=text/html
				json=application/json
				*=*/*
			</beans:value>
		</beans:property>
	</beans:bean>

	<beans:bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<beans:bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/page" p:suffix=".jsp" />

	<beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="utf-8" p:maxUploadSize="10240" p:uploadTempDir="upload/temp" />

</beans:beans>